language: node_js
node_js: stable
dist: trusty
before_script:
- cd functions
- npm i
- echo $FUNCTIONS_CREDENTIAL > credential.json
- cd ..
script:
- npm run deploy -- --token $FIREBASE_TOKEN --project $FIREBASE_PROJECT
branches:
  only:
  - master
